html {
  background-color: white;
  margin: 0;
}
.download_file {
  background-color: transparent;
  align-items: center;
  width: 60vw;
  height: 90vh;
  position: absolute;
  z-index: 1;
  margin: 25vh 10vh 10vh 40vh;
  font-family: Montserrat, sans-serif;
}

.download_file_shadow {
  position: absolute;
  background-color: transparent;
  width: 90vw;
  height: 90vh;
  margin: 10vh 0 0 10vw;
  z-index: 0;
  box-shadow: inset 0px 0px 10px 15px #262626;
}

.down_title {
  padding: auto;
  color: white;
  text-align: center;
  font-size: 6vh;
  margin: 10vh 0 0 0;
}

.link_input {
  width: 50%;
  padding-bottom: 20px;
  margin-left: 25%;
  margin-right: auto;
  margin-top: 2vh;
  font-size: 350%;
  text-align: center;
  vertical-align: middle;
  border-radius: 30px;
  outline: none;
  z-index: 10;
}

.download_link {
  width: 30%;
  color: white;
  background-color: black;
  opacity: 0.1;
  margin-top: 3%;
  margin-left: 35%;
  padding: 1%;
  border-color: black;
  border-radius: 60px;
  font-size: 150%;
  outline: none;
}

.download_link_pop {
  width: 30%;
  background-color: black;
  margin-top: 3%;
  margin-left: 35%;
  padding: 1%;
  border-color: black;
  border-radius: 60px;
  font-size: 150%;
  outline: none;
  cursor: pointer;
  color: white;
  opacity: 0.8;
}
