html {
  margin: none;
  overflow: hidden;
}

.subtext_container {
  position: absolute;
  background-color: none;
  z-index: 2;
  margin: 70vh auto auto 4%;
  width: 23%;
}

.subtext {
  color: black;
  font-size: 28px;
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
}

.pop_up {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 #4d4d4d;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  cursor: url("../images/close_cursor.svg"), progress;
  outline: none;
}

.pop_up_subtext_h4 {
  font-family: Montserrat, sans-serif;
  font-weight: 100;
  margin: 2% 10%;
}

.pop_up_subtext_h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  margin: 2% 10%;
}

.pop_up_subtext_h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 350%;
  letter-spacing: 3px;
  margin: 2% 10%;
}

.full_view {
  display: flex;
  flex-direction: column;
}

.top_bar_container {
  position: fixed;
  height: 10vh;
  width: 100vw;
}

.full_panel_container {
  position: absolute;
  height: 100vh;
  width: 180vw;
  background-repeat: no-repeat;
  z-index: 0;
  display: flex;
  flex-direction: row;
}

.full_panel_left {
  height: 100vh;
  width: 90vw;
  background-image: url(../images/bg_light.svg);
  background-size: cover;
}

.full_panel_right {
  height: 100vh;
  width: 90vw;
  background-image: url(../images/bg_dark.svg);
  background-size: cover;
}

.bg_letters_container {
  position: absolute;
  width: 100%;
  height: 150%;
  margin-left: auto;
  margin-top: 5vh;
  z-index: 1;
  align-content: center;
}

.bg_letters {
  position: relative;
  width: 150vh;
  height: 150%;
  align-self: center;
  margin: auto;
  background-image: url(../images/main_bg.svg);
  background-repeat: no-repeat;
}

.function_button_container {
  padding: 0;
  align-content: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  z-index: 1;
  margin-top: 10vh;
  z-index: 2;
}

.function_button {
  width: 30vh;
  margin: 10vh auto 0 auto;
  height: 30vh;
  border-radius: 50%;
  border-style: none;
  font-size: 2vw;
  font-family: Montserrat, sans-serif;
  letter-spacing: 5px;
  outline: none;
  font-weight: 500;
}

.function_button:hover {
  transform: scale(1.1);
  cursor: pointer;
  border-color: #4d4d4d;
  border-style: solid;
}

.hidden {
  display: none;
}
