.up_subtext {
  font-size: 300%;
  margin: 15% auto auto auto;
  text-align: center;
}

.choose_file_subtext {
  position: relative;
  padding: 3% auto 0 auto;
  margin: 10vh auto 0 auto;
  font-weight: 100;
}

.choose_file {
  background-color: whitesmoke;
  width: 5vw;
  height: 5vw;
  border: 1px solid black;
  border-radius: 60%;
  margin: 0 0 5vh 0;
  padding: 0;
  font-size: 0px;
  text-align: center;
  z-index: 3;
  outline: none;
}

.choose_file::-webkit-file-upload-button {
  visibility: hidden;
  z-index: 5;
}

.choose_file::before {
  content: "Select some files";
}

.choose_file:hover {
  cursor: url("../images/upload_file.svg"), progress;
}

/* When a user enters a file */
.show_selected_file {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10%;
  /* background-color: whitesmoke; */
  width: 70%;
  height: 40%;
}

.file_option_container {
  display: flex;
  flex-direction: row;
  height: 40%;
  width: 50%;
  /* background-color: beige; */
  /* border: 1px dashed black; */
  margin: 10% auto;
}

.cancel_button {
  width: auto;
  height: auto;
  margin: auto 5%;
  border: 1px solid black;
  border-radius: 60%;
  background-color: black;
  color: white;
}

.cancel_button:hover {
  cursor: pointer;
}

.selected_filename {
  width: 80%;
  font-size: 200%;
}

.send_file {
  width: 40%;
  height: auto;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 30px;
  outline: none;
  background-color: white;
  color: #4d4d4d;
  font-weight: bold;
  font-size: 150%;
}

.send_file:hover {
  cursor: pointer;
}
