.label {
  align-content: center;
  background: transparent;
  position: absolute;
  border-radius: 100px;
  transition: all 5s;
  margin: 1%;
  padding: none;
  z-index: 1;
}

.label:hover {
  cursor: pointer;
}

input:checked + label {
  width: 180vw;
  height: 100vh;
  top: 0;
  margin-top: 0;
  left: 0;
  margin-left: 0;
  border-radius: 0;
  background: white;
  cursor: url("../images/close_cursor.svg"), progress;
}

.input {
  visibility: hidden;
  position: absolute;
}
