/* Below is styling for the top-bar */
.top_bar {
  display: flex;
  flex-direction: row;
  height: 10vh;
  z-index: 10;
  position: relative;
  width: 100vw;
}

.logo_button_container {
  height: 5vh;
  margin-left: 10vh;
  margin-right: 65%;
  margin-top: 5vh;
  width: 10vw;
}

.logo {
  color: #000000;
  font-family: Montserrat, sans-serif;
  text-decoration: none;
  font-size: 100%;
  font-weight: 600;
  letter-spacing: 2px;
  margin: auto;
  border: none;
  background-color: white;
  outline: none;
  height: 50%;
}

.top_bar_button_container {
  display: flex;
  width: 35%;
  height: 7vh;
  margin-right: 10vh;
  margin-top: 3vh;
  /* align-content: right; */
  font-family: Montserrat, sans-serif;
  text-decoration: none;
  font-size: 1.2vw;
  font-weight: 300;
  letter-spacing: 2px;
}

.top_bar_button {
  font-family: Montserrat, sans-serif;
  width: 50%;
  font-weight: bold;
  font-size: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  top: none;
  /* margin: 5% 0 5% 10%; */
}

.give_pointer:hover {
  cursor: pointer;
}
/* End styling for top bar */
