/* Below is styling for the top-bar */
.top_bar {
  display: flex;
  flex-direction: row;
  height: 10vh;
  z-index: 5;
  position: fixed;
  width: 100vw;
}

.logo_button_container {
  height: 10vh;
  margin-left: 10vh;
  margin-right: 65%;
  margin-top: 4vh;
  width: 10vw;
}

.logo {
  color: #000000;
  font-family: "Montserrat Semi Bold";
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
}

.top_bar_button_container {
  display: flex;
  width: 35%;
  height: 10vh;
  margin-right: 10vh;
  align-content: right;
}

.top_bar_button {
  font-family: "Montserrat Semi Bold";
  width: 50%;
  font-weight: bold;
  font-size: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 5% 0 5% 10%;
}

.give_pointer:hover {
  cursor: pointer;
}
/* End styling for top bar */
